@model TradeSharp.Core.ViewModels.CompanyViewModal

<div>
    <h4>CompanyViewModal</h4>
    <hr/>
    <div class="form-group">
        @Html.LabelFor(c => c.Price)
        @Html.TextBoxFor(c => c.Price)
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Quantity)
        @Html.TextBoxFor(c => c.Quantity)
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>